<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Travel the World</h1>
    <br />
    <h2>Upload your experiences here</h2>
    <br />
    <%= link_to 'Learn More', '#', class: 'btn btn-success' %>
    <br />
    <br />
  </div>
</div>